/.dn/cache
/.dn/ide.lock
/.dn/tmp
/.dn/index.json
/.dn/backup

/vendor
/src_generated
/src/JPHP-INF
/src/.debug
/build
/build.xml
/build.gradle
/settings.gradle
/config.json
/desktop.ini

*.log
*.pid
*.tmp
*.sourcemap

/projects/