
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300&subset=cyrillic');

* {
    -fx-focus-color: #b3b3b3;
    -fx-faint-focus-color: #0088cc01;
    -fx-control-inner-background: derive(-fx-base, 7%);
    -fx-control-inner-background-alt: derive(-fx-base, 15%);
    
    // Цвет border у табличных элементов
    -fx-box-border: ladder(
        -fx-color,
        black 5%,
        derive(-fx-color,-7%) 30%
    );
    // Цвет border у текстовых элементов
    -fx-text-box-border: ladder(
        -fx-color,
        black 5%,
        derive(-fx-color,-7%) 30%
    );
    // Цвет border у компонентов управления
    -fx-outer-border: derive(-fx-color, -13%);
    -fx-body-color: linear-gradient(to bottom,
            ladder(
                -fx-color,
                derive(-fx-color,8%) 75%,
                derive(-fx-color,10%) 80%
            ),
            derive(-fx-color,-2%));
    
    
    // установка параметров шрифта
    -fx-font-family: "Source Sans Pro Regular";
}


// Дополнительные вспомогающие классы
// ---------------------------------------------------------------------------------------
.font-light {
    -fx-font-family: "Source Sans Pro Light";
}
.font-regular {
    -fx-font-family: "Source Sans Pro Regular";
}
.font-bold {
    -fx-font-family: "Source Sans Pro SemiBold";
}
.font-accent {
    -fx-text-fill: -fx-accent;
}
.font-for-logo {
    -fx-font-size: 18px;
}


// Таблицы
// ---------------------------------------------------------------------------------------
.table-view,
.tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color: derive(-fx-base, -5%);
    -fx-table-cell-border-color: derive(-fx-base, -5%);
}
.table-view .column-header,
.tree-table-view .column-header,
.table-view .filler,
.tree-table-view .filler,
.table-view > .column-header-background > .show-hide-columns-button,
.tree-table-view > .column-header-background > .show-hide-columns-button,
.table-view:constrained-resize .filler,
.tree-table-view:constrained-resize .filler {
    -fx-font-family: "Source Sans Pro SemiBold";
}


// Табы 
// ---------------------------------------------------------------------------------------
.tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-text-fill: #fff;
}
.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:
        -fx-outer-border,
        -fx-text-box-border,
        linear-gradient(from 0px 0px to 0px 5px, -fx-text-box-border, derive(-fx-text-box-border, 30%));
    -fx-background-radius: 0 0;    
}
.tab-pane:top > .tab-header-area {
    -fx-padding: 0.616667em 5 0.0em 0.616667em; /* 5 2 0 5 */
}


// Кнопки
// ---------------------------------------------------------------------------------------
.button {
    -fx-cursor: hand;
}


// Текстовые поля
// ---------------------------------------------------------------------------------------
.text-input:focused {
    -fx-background-insets: -0.2, 1, -1.4, 1;
}


// Многострочные поля
// ---------------------------------------------------------------------------------------
.text-area:focused .content {
    -fx-background-insets: 0, 0, 0;
    -fx-focus-color: null;
}
.text-area:focused > .scroll-pane {
    -fx-focus-color: null;
    -fx-background-color: null;
}


// Выбор даты
// ---------------------------------------------------------------------------------------
combo-box-base:editable:focused > .text-field,
.combo-box-base:editable > .text-field:focused,
.date-picker:focused > .text-field,
.date-picker > .text-field:focused {
    -fx-background-insets: 1 0 1 1, 1 0 1 1, 1 1 1 1;
}

.console {
    -fx-background-color: #333;
    -fx-font: 14px "Consolas";
    -fx-line-spacing: 30px;
}

.SplitPane {
    -fx-border-width: 0;
}

